<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zvxr.oebqurnq@tznvy.pbz</string>
	<key>contactName</key>
	<string>Michael Brodhead</string>
	<key>description</key>
	<string>Your one-stop shop for terminating excess whitespace with extreme prejudice.</string>
	<key>name</key>
	<string>Whitespace destroy destroy</string>
	<key>uuid</key>
	<string>56305BEA-03F2-4A60-B468-2CB27DC4117B</string>
</dict>
</plist>
